MCU_MODEL = STM32L432K(B-C)Ux
CHIBIOS_VERSION = 3.0

HEADER

/*
 * Setup for STMicroelectronics STM32 Nucleo32-L432KC board WITHOUT SB16 and SB18.
 */

/*
 * Board identifier.
 */
#define BOARD_ST_NUCLEO32_L432KC
#define BOARD_NAME                  "STMicroelectronics STM32 Nucleo32-L432KC"

/*
 * Board oscillators-related settings.
 * NOTE: HSE not fitted.
 */
#if !defined(STM32_LSECLK)
#define STM32_LSECLK                32768U
#endif

#define STM32_LSEDRV                (2U << 3U)

#if !defined(STM32_HSECLK)
#define STM32_HSECLK                0U
#endif

/*
 * Board voltages.
 * Required for performance limits calculation.
 */
#define STM32_VDD                   300U

/*
 * MCU type as defined in the ST header.
 */
#ifndef STM32L432xx
#define STM32L432xx
#endif

/*
 * IO pins assignments.
 */
CONFIG
# PIN NAME PERIPH_TYPE AF_NUMBER or
# PIN NAME FUNCTION PP_or_OPENDRAIN PIN_SPEED PULL_RESISTOR INITIAL_LEVEL AF_NUMBER
# SPEED : SPEED_VERYLOW, SPEED_LOW, SPEED_MEDIUM, SPEED_HIGH
#
# DEFAULT AND SYS
DEFAULT ANALOG   	PUSHPULL	SPEED_VERYLOW	FLOATING LEVEL_HIGH AF0	ASCR_DISABLED LOCKR_DISABLED
PA00	RCC_CK_IN	SYS		RCC_CK_IN 3.3_VOLTS
PA13	SWDIO     	SWDIO		AF:SYS_JTMS-SWDIO
PA14	SWCLK     	SWDIO		AF:SYS_JTCK-SWCLK
PC14	RCC_OSC32_IN    SYS		RCC_OSC32_IN
PC15	RCC_OSC32_OUT   SYS		RCC_OSC32_OUT

# REMOVE SB9 to use D4 and A4
# REMOVE SB16 to use D5 and A5
# REMOVE SB18 to use D4 and A4

PA01    NOTGATE_TX_EN   OUTPUT  PUSHPULL 	LEVEL_HIGH # ARD_A1 HC74_P1
PA02    VCP_TX          UART    AF:USART2_TX 	3.3_VOLTS  # internal
PA03    RADIO_RESET     INPUT	FLOATING     	3.3_VOLTS  # ARD_A2
PA04	DIP0_RFENABLE	INPUT	PULLUP   	3.3_VOLTS  # ARD_A3
PA05	RADIO_SCK	SPI	AF:SPI1_SCK  	3.3_VOLTS  # ARD_A4
PA06    NOTGATE_RX_EN   OUTPUT  PUSHPULL	LEVEL_HIGH # ARD_A5 HC74_P19

PA07	OLED_SCL	I2C	AF:I2C3_SCL 3.3_VOLTS 	   # ARD_A6
PA08	DIP1_RXTX	INPUT	PULLUP   	3.3_VOLTS  # ARD_D9  
PA09	DIP2_PWRLVL	INPUT	PULLUP   	3.3_VOLTS  # ARD_D1   
PA10	DIP3_FREQ	INPUT	PULLUP   	3.3_VOLTS  # ARD_D0
PA11	RADIO_MISO	SPI	AF:SPI1_MISO	    	   # ARD_D10
PA12	DIP4_BER	INPUT	PULLUP   	3.3_VOLTS  # ARD_D2
PA15    VCP_RX          UART    AF:USART2_RX	    	   # internal

PB00	RADIO_CS	OUTPUT  PUSHPULL   SPEED_VERYLOW FLOATING LEVEL_HIGH # ARD_D3
PB01    DIP5_BERBAUD	INPUT	PULLUP   3.3_VOLTS  # ARD_D6
#PB02    not routed
PB03    LED_GREEN       LED		     # internal
PB04	OLED_SDA	I2C	AF:I2C3_SDA  # ARD_D12
PB05	RADIO_MOSI	SPI	AF:SPI1_MOSI # ARD_D11
PB06	EXTVCP_TX	UART	AF:USART1_TX # ARD_D5 : APP VCP + DIO2 via inverter
PB07	EXTVCP_RX	UART	AF:USART1_RX # ARD_D4 : APP VCP 